// анімація
.header__logo .header__icon--one,
.header__logo .header__icon--tree,
.header__logo .header__icon--second {
  display: flex;
  height: 24px;
  animation-name: changeFilm;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes changeFilm {
  0% {
    transform: translateY(24px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}
.old-film {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 24px;
  width: 24px;
}
.old-film__lenta {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -24px;
  left: 0px;
}
